img {
    max-width: 400px;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.section-one-left {
    display: flex;
    flex-direction: column;
}

.section-one-right {
    display: flex;
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.left-header {
    font-weight: 900;
}

.right-header {
    display: flex;
}

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-size: 18px;
    font-family: Roboto, -apple-system;
    color: #E5E7EB;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes_section_two {
    display: flex;
    gap: 10px;
    align-items: center;
}

.img_section_2 {
    border-radius: 5px;
}
